.rentals{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-between; */
  grid-column-gap: 33px;
}

.rentals img{
  width: 395px;
  height: 269px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.superHost{
  border: 0.5px solid grey;
}

.rentalDetails{
  display: flex;
  justify-content: space-between;
}

.rentalHostType{
  display: flex;
}

