.rentals{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-between; */
  grid-column-gap: 33px;
}

.rentals img{
  width: 395px;
  height: 269px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.rentalDetails {
  display: flex;
  justify-content: space-between;
}

.rentalHostType {
  display: flex;
  align-items: center;
  gap: 5px;
}

.superHost{
  border: 0.5px solid grey;
  border-radius: 20px;
  width: 100px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #4F4F4F;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.rentalType{
  color: var(--gray-3, #828282);
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ratingsDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.rentalTitle{
  color: #333333;
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}