@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  box-sizing: border-box;
}

body{
  padding: none;
  width: 1250px;
  margin: 50px auto;
  font-family: Montserrat;
}